#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

#gallery img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

#loadMoreBtn {
  margin-top: 20px;
}

#loadingSpinner {
  display: block;
}
button {
  background-color: rgb(69, 69, 214);
  border-radius: 4px;
  color: white;
  padding: 5px;
  width: 80px;
  border: none;
}

input {
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid grey;
  padding: 5px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
